BODY {
	margin:0;
	padding:0;
	background:#eeeeee;
	
}
TD {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px; FONT-FAMILY:Arial, Helvetica, sans-serif}
A {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f93; TEXT-DECORATION: none
}
A:active {
	COLOR: #f93; TEXT-DECORATION: none
}
.nav UL LI A:link {
	COLOR: #000; TEXT-DECORATION: none;
	line-height:24px;
    display:block;
}
.nav UL LI A:visited {
	COLOR: #000; TEXT-DECORATION: none;
	line-height:24px;
    display:block;
}
.nav UL LI A:hover {
	COLOR: #fff;
	TEXT-DECORATION: none;
	background-color: #6699cc;	
	line-height:24px;
    display:block;
}
.nav UL LI SPAN.current {
	COLOR: #fff;
	TEXT-DECORATION: none;
	background-color: #f68632;	
	line-height:24px;
    display:block;
}
.nav {
	PADDING-RIGHT: 0px;
	BACKGROUND-POSITION: left top;
	PADDING-LEFT: 0px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	WIDTH: 780px;
	PADDING-TOP: 0px;
	background-color:#FFFFFF;
	letter-spacing: 0.1em;
}
.nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; 
}
.nav UL LI {
	border-right:solid 1px #000000;
	border-bottom:solid 1px #000000;
	PADDING-RIGHT: 1px;
	PADDING-LEFT: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	FLOAT: left;
	PADDING-BOTTOM: 0x;
	COLOR: #fff;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
}
