******************************************************************************************************
*                                                                                                    *
* DRILL TAPE SUMMARY REPORT                                                                          *
*                                                                                                    *
* C:\MY VEHICLE RFID FILES\VEHICLE ORCAD FILES\PRODUCTION MODEL MAY 19 2008\BOARD\PM_05_19_08V3.MAX  *
* Fri May 23 11:34:09 2008                                                                           *
*                                                                                                    *
******************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       24       200      100                                                                                 
T2       31       30       200      100                                                                                 
T3       34       89       200      100                                                                                 
T4       38       2        200      100                                                                                 
T5       40       6        200      100                                                                                 
T6       42       11       200      100                                                                                 
T7       75       2        200      100                                                                                 
T8       120      2        200      100                                                                                 
T9       140      7        200      100                                                                                 
